header(class="st-header")
  .c-l-column
    .st-header__inner
      a(href="/").st-header__logo
        img(src="/images/common/logo_pc.png", alt="ふくろいごはん")
      include ./_inc_nav.pug
      .st-nav__menu
        i
        i
        i