- var image_path = 'img'
- var css_path = 'css'
- var js_path = 'js'
- var domain = 'https://www.fukuroi-deli.com/'
-
  var pages = {
    top : {
      url : 'ふくろいごはんー袋井市のテイクアウトまとめサイト',
      title : '',
      keywords: 'キーワードが入ります。',
      description : '説明文が入ります。',
      image : 'images/ogp.jpg',
    },
  }
